body {
    background: rgb(21, 22, 22);
    background: linear-gradient(
      90deg,
      rgb(37, 37, 37) 0%,
      rgb(72, 74, 75) 54%,
      rgb(194, 202, 209) 82%
    );
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-family: "Oswald", sans-serif;
  }